.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_list{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}
.shop_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo{
    width: 28px;
    height: 28px;
}
.member_btn{
    border-radius: 40px;
    border: none;
    width: 232px;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #000;
}